.btn:focus, input[type="button"]:focus {
  outline: none;
}

body {
  background-color: #eee;
  padding-top:80px;
}

h6 {
  color: #888;
}

.right {
  float: right;
}

.fa-search {
  font-size: 20px;
}

.fa-frown-o {
  font-size: 100px;
}

.notifications-badge {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.navbar-brand:hover {
  cursor: pointer;
}

.fa-heart, .fa-heart-o {
  font-size: 16px;
  color: red;
}

.fa-globe, .fa-user, .fa-home {
  font-size: 20px;
}

::-webkit-scrollbar {
    display: none;
}

.follow-button-wrapper {
  text-align: center
}

.follow-button {
  border: solid 1px #0079BF;
}

.jumbotron {
  background-color: white;
  border: 1px solid #bbb;
}

.status-post {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: left;
}

.status-textarea {
  background-color: #fff;
}

.contact-info-hr {
  width: 500px;
  margin: 0px;
  padding: 0px;
}

.news-feed-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news-feed-list {
  width: 500px;
  overflow-y: auto;
}

.news-item {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  max-height: 80px;
}

.news-item-preview-body {
  position: relative;
}

.news-item-source {
  position: sticky !important;
  text-align: right;
  top: 150px !important;
  left: 1% !important;
  font-weight: bold;
  color: white;
  font-size: 14px;
  margin-top: -40px;
  padding-right: 5%;
  padding-bottom: 10px;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0) 100%);
  border-radius: 1px;
}

.news-item-description {
  font-style: italic;
  flex: 1 1 auto;
  font-size: 10px;
}

.news-item-title {
  flex: 1 1 auto;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.news-item-media {
  cursor: pointer;
  max-width: 100% !important;
  height: auto;
}

.news-item-title:hover {
  color: #116;
}

.news-modal-body {
  overflow: overlay !important;
}

.news-modal-media img {
  border: 2px solid white;
  height: 500px;
  display: block;
  margin: 0 auto;

}

.modal-like {
  float: left !important;
  padding: 0px !important;
  margin: -5px !important;
}

.news-modal-description: {

}

.profile-tab {
  padding: 50px;
  position: center;
}

.profile-picture img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.profile-picture {
  height: 300px;
  border: 1px solid black;
  width: 300px;
  position: sticky;
  margin-left: auto;
  margin-right: auto;
}

.profile-name {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about-user {
  text-align: center;
}

.loading {
  font-size: 25px !important;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  text-align: center;
}

.bottom-loading {
  font-size: 25px !important;
  position: relative; /* or absolute */
  top: 50%;
  text-align: center;
  height: 0px;
  padding: 0px !important;
}

.panel-body {
  padding-bottom: 0px;
}

.panel-footer {
  background-color: white;
}

.btn btn-border btn-round color-1 material-design {

}

.btn {
  border: none;
  color: white;
  overflow: hidden;
  margin: 1rem;
  padding: 0;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  background-color: #222222;

  &.color-1 {
    background-color: #607D8B;
  }

  &.color-2 {
    background-color: #607D8B;
  }

  &.color-3 {
    background-color: #607D8B;
  }

  &.color-4 {
    background-color: #607D8B;
  }
}

.btn-border {

  &.color-1 {
    background-color: transparent;
    border: 2px solid $color1;
    color: $color1;
  }

  &.color-2 {
    background-color: transparent;
    border: 2px solid $color2;
    color: $color2;
  }

  &.color-3 {
    background-color: transparent;
    border: 2px solid $color3;
    color: $color3;
  }

  &.color-4 {
    background-color: transparent;
    border: 2px solid $color4;
    color: $color4;
  }
}

.btn-round {
  border-radius: 10em;
}

.material-design {
  position: relative;

  canvas {
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
  }
}

h1 {
  color: #666666;
  font-size: 2rem;
  line-height: 1.5em;
  margin:2em 0 2em 0;
}
