.update-settings-button {
  color: white !important;
  margin-top: -7px !important;
  margin-left: 0% !important;
  width: 110px !important;
}

.update-settings-button:hover {
  text-decoration: none;
  background-color: #121E24;
}

.btn:focus, .btn:disabled, input[type="button"]:focus, .btn:hover, input[type="button"]:hover {
  outline: none;
  text-decoration: none;
  background-color: '#5e737c';
}

.settings-title {
  color: #FD533E;
}

.about-page-description {
  padding-left: 3%;
}

.about-page-content {
  padding-left: 3%;
  padding-bottom: 15px;
  padding-top: 25px;
}

.about-collaborators {
  color: black !important;
  font-weight: bolder;
}


.about-entry {
  margin-top: -40px;
  margin-right: 15%;
  margin-left: 15%;
}

.about-this-page {
  padding-top: 10px;
  padding-left: 3%;
  color: #FF5722;
}

.signup-option {
  float: right;
  line-height: 35px;
  color: #FD523E;
}

.login-option {
  float: right;
  line-height: 35px;
  color: #FD523E;
}

.login-logo-image {
  height: 70%;
  width: 70%;
  margin: auto;
  margin-bottom: -10%;
}

.signup-logo-image {
  height: 70%;
  width: 70%;
  margin: auto;
  margin-bottom: -10%;
}

.login-email {
  color: white;
}

.login-password {
  color: white;
}

@keyframes growFromLeft {
  0% {
    width: 0px;
  }
  100% {
    width: 328px;
  }
}

.profile-not-found {
  color: #FF5722;
  font-weight: bolder;
  margin-left: 10px;
}

.frowny-face {
  height: 100px !important;
  width: 100px !important;
  margin-top: 15px;
  margin-left: 40px;
}

.return-home-button {
  margin-bottom: 20px !important;
  margin-left: 20px !important;
  padding-top: 10px !important;
  font-weight: bolder;
}

.profile-not-found-message {
  margin-left: 10px;
  margin-bottom: 40px;
}

.logo-image-container {
  display: fixed;
  margin-right: 1px !important;
}

.logo-image {
  width: 150px;
  height: auto;
  margin-top: -8px;
}

.logo-icon {
  width: auto;
  height: 47px;
  margin-top: 10px;
}

.search-bar {
  margin-top: 9px !important;
}

.search-bar-xs {
  margin-top: -46px !important;
  padding-left: 46px;
  padding-right: 44px;
  margin-right: -47px;
  animation-duration: 0.2s; /* the duration of the animation */
  animation-timing-function: ease-out;; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: growFromLeft; /* the name of the animation we defined above */
  }

.navbar-home {
  margin-top: 7px !important;
}

.navbar-profile {
  margin-top: 7px !important;
}

.navbar-settings {
  margin-top: 7px !important;
}

.navbar-notifications {
  margin-top: 7px !important;
}

.unseen-notification {
  color: #FD3F3D !important;
}

.status-date {
  font-size: 10px;
  font-style: oblique;
  font-variant: small-caps;
  text-align: right;
  color: black;
  margin-right: 4%;
  margin-bottom: -10px;
}

.status-title-inner {
  text-align: justify;
  margin-bottom: 6px;
}

.status-likes-container {
  margin-left: -14%;
  margin-right: -14%;
}

.status-like-user {
  font-weight: normal;
  font-size: 14px;
}

.status-like-user img {
  height: 28px !important;
  width: 28px !important;
}

.status-like-user-link {
  color: #121E24;
  text-decoration: none;
}

.status-like-user-link:hover{
  color: #FD583E;
  text-decoration: none;
}

.follow-entry:hover {
  background-color: #ECEFF1;
}

.fa-search:before {
  color: #FFA500;
}

body {
  background-color: #eee;
  padding-top:80px;
}

h3 {
  color: #FAFAFA;
}

.panel-info > .panel-heading {
  background-color: #78909C;
}

.navbar-inverse .navbar-brand {
  color: orange;
}

h6 {
  color: #888;
}

.right {
  float: right;
}

.fa-search {
  font-size: 20px;
}

.fa-frown-o {
  font-size: 100px;
}

.notifications-badge {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.navbar-brand:hover {
  cursor: pointer;
}

.fa-heart, .fa-heart-o {
  font-size: 16px;
  color: red;
}

.fa-globe, .fa-user, .fa-home {
  font-size: 20px;
}

::-webkit-scrollbar {
    display: none;
}

.follow-button-wrapper {
  text-align: center;
}

.jumbotron {
  background-color: white;
  border: 1px solid #bbb;
}

.panel-heading {
  background-color: rgb(58,70,76) !important;
}

.status-title {
  padding-top: 10px;
  text-align: left !important;
  margin-left: 3%;
  margin-right: 3%;
  font-weight: bolder;
}


.status-textarea {
  padding-top: 10px;
  text-align: left !important;
  margin-left: 3%;
  margin-right: 3%;
  font-weight: bolder;
  color: #FD533E;
  width: 94%;
}

.status-title-divider {
  margin: 10px 10px 10px 10px !important;
}


.status-textarea-divider {
  margin: 0px 0px 30px 0px !important;
}

.submit-signup-btn {
  color: #FD533E !important;
}

.submit-signup-btn:disabled {
  color: rgba(0, 0, 0, 0.3) !important;
}

.status-description {
  font-weight: lighter;
  font-size: 15px;
  padding-bottom: 15px;
  margin-left: 3%;
  text-align: left;
}

.status-post-2 {
  font-family: "Times New Roman";
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.status-post {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: left;
}

.status-post-status-textarea {
  font-family: "Times New Roman";
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  width: 80%;
}

.contact-info-hr {
  width: 500px;
  margin: 0px;
  padding: 0px;
}

.news-feed-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news-feed-list {
  width: 500px;
  overflow-y: auto;
}

.news-item {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  max-height: 80px;
}

.news-item-preview-body {
  position: relative;
}

.news-item-source {
  position: sticky !important;
  text-align: right;
  top: 150px !important;
  left: 1% !important;
  font-weight: bold;
  color: white;
  font-size: 14px;
  margin-top: -40px;
  padding-right: 5%;
  padding-bottom: 10px;
  background: linear-gradient(to top, rgba(18,30,36,0.7) 0%,rgba(18,30,36,0.2) 70%,rgba(0,0,0,0) 100%);
  border-radius: 1px;
}

.news-item-description {
  font-style: italic;
  flex: 1 1 auto;
  font-size: 10px;
}

.news-item-title {
  flex: 1 1 auto;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.news-item-media {
  cursor: pointer;
  max-width: 100% !important;
  height: auto;
}

.news-item-title:hover {
  color: #116;
}

.news-modal-body {
  overflow: overlay !important;
}

.news-modal-media img {
  border: 2px solid white;
  height: 500px;
  display: block;
  margin: 0 auto;

}

.modal-like {
  float: left !important;
  padding: 0px !important;
  margin: -5px !important;
}

.news-modal-description: {

}

.profile-tab {
  margin-left: -40px;
  margin-right: -40px;
  margin-top: 20px;
}

.about-user-tab {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
  position: center;
}


.nested-tabs {
  margin-left: 5%; !important;
  margin-right: 5%; !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.favorite-tabs {
  background-color: #EEEEEE !important;
}

.favorite-tabs-container {
  margin-top: 20px;
}

.connection-tabs {

}

.bottom-navigation-container {
  margin-left: -4%;
  margin-right: -4%;
}

.bottom-navigation-tabs {
  background-color: #121E24 !important;
  color: white !important;
}

.bottom-navigation-item div{
  color: white !important;
}

.bottom-navigation-item-active div{
  color: #FD453E !important;
}

.profile-picture img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.profile-picture-container {
  margin: auto;
}

.upload-pic-btn {
  position: static;
  border: none;
  background-color: #EEE;
}

@media (min-width: 700px) {
  .upload-pic-btn {
    margin-left: 62%;
  }
}

@media (max-width: 700px) {
  .upload-pic-btn {
    margin-left: 71%;
  }
}

.fa-camera {
  font-size: 28px;
  color: #121E24;
}

.fa-camera:hover {
  color: #FD4E3E;
}


.profile-picture {
  height: 300px;
  border: 1px solid black;
  width: 300px;
  position: sticky;
  margin-left: auto;
  margin-right: auto;
}

.profile-name {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about-user {
  text-align: center;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.loading {
  font-size: 25px !important;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  text-align: center;
}

.bottom-loading {
  font-size: 25px !important;
  position: relative; /* or absolute */
  top: 20%;
  color: rgb(18,30,36);
  text-align: center;
  height: 0px;
  padding: 0px !important;
}

.panel-body {
  padding-bottom: 0px;
}

.panel-footer {
  background-color: white;
}

.btn-primary {
  margin-left: 0px !important;
  margin-right: 0px !important;
  background-color: rgb(18,30,36) !important;

}

.post-status-btn {
  margin-left: 0px !important;
  margin-right: 0px !important;
  background-color: rgb(18,30,36) !important;

}

.btn btn-border btn-round color-1 material-design {

}

.btn {
  border: none;
  color: white;
  overflow: hidden;
  margin: 1rem;
  padding: 0;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  background-color: rgb(18,30,36);

  &.color-1 {
    background-color: #5e737c;
  }

  &.color-2 {
    background-color: #5e737c;
  }

  &.color-3 {
    background-color: #5e737c;
  }

  &.color-4 {
    background-color: #5e737c;
  }
}

.btn-border {

  &.color-1 {
    background-color: transparent;
    border: 2px solid $color1;
    color: $color1;
  }

  &.color-2 {
    background-color: transparent;
    border: 2px solid $color2;
    color: $color2;
  }

  &.color-3 {
    background-color: transparent;
    border: 2px solid $color3;
    color: $color3;
  }

  &.color-4 {
    background-color: transparent;
    border: 2px solid $color4;
    color: $color4;
  }
}

.btn-round {
  border-radius: 10em;
}

.material-design {
  position: relative;

  canvas {
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
  }
}

h1 {
  color: #666666;
  font-size: 2rem;
  line-height: 1.5em;
  margin:2em 0 2em 0;
}

.status-image {
  margin: 0 auto;
  overflow:auto;
}

@media (max-width: 700px) {
  .status-image {
    width: 90%;
  }
}

@media (min-width: 700px) {
  .status-image {
    width: 50%;
  }
}

.login-body {
  background-color: #121E24;
}

img {
  display: block;
}
