body { 
  background-color: #eee;
  padding-top:80px; 
}

h6 {
  color: #888;
}

.right {
  float: right;
}

.fa-search {
  font-size: 20px;
}

.fa-frown-o {
  font-size: 100px;
}

.notifications-badge {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.navbar-brand:hover {
  cursor: pointer;
}

.fa-heart, .fa-heart-o {
  font-size: 16px;
  color: red;
}

.fa-globe, .fa-user, .fa-home {
  font-size: 20px;
}

::-webkit-scrollbar { 
    display: none; 
}

.follow-button-wrapper {
  text-align: center
}

.follow-button {
  border: solid 1px #0079BF;
}

.jumbotron {
  background-color: white;
  border: 1px solid #bbb;
}

.status-post {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: left;
}

.status-textarea {
  background-color: #fff;
}

.contact-info-hr {
  width: 500px;
  margin: 0px;
  padding: 0px;
}

.news-feed-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news-feed-list {
  width: 500px;
  overflow-y: auto;
}

.news-item {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  max-height: 80px;
}

.news-item-source {
  flex: 5 1 auto;
  color: #aaa;
  font-size: 9px
}

.news-item-description {
  font-style: italic;
  flex: 1 1 auto;
  font-size: 10px;
}

.news-item-title {
  flex: 1 1 auto;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.news-item-media {
  cursor: pointer;
  max-width: 100% !important;
  height: auto;
}

.news-item-title:hover {
  color: #116;
}

.news-modal-body {
  overflow: overlay !important;
}

.news-modal-media img {
  border: 2px solid white;
  height: 500px;
  display: block;
  margin: 0 auto;
  
}

.modal-like {
  float: left !important;
}

.news-modal-description: {

}

.profile-tab {
  padding: 50px;
  position: center;
}

.profile-picture img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.profile-picture {
  height: 300px;
  border: 1px solid black;
  width: 300px;
  position: sticky;
  margin-left: auto;
  margin-right: auto;
}

.profile-name {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about-user {
  text-align: center;
}

.loading {
  font-size: 25px !important;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  text-align: center;
}

.bottom-loading {
  font-size: 25px !important;
  position: relative; /* or absolute */
  top: 50%;
  text-align: center;
  height: 0px;
  padding: 0px !important;
}

.panel-body {
  padding-bottom: 0px;
}

.panel-footer {
  background-color: white;
}

