<!doctype html>
<html class="mdc-typography">
<head>
    <title>ConnectHub.us</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="node_modules/material-components-web/dist/material-components-web.css">
    <!-- for mobile friendly -->
    <link rel="icon" 
      type="image/png" 
      href="/assets/connecthub_icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
