<% include head.ejs%>
<body class="login-body">
    <div class="col-sm-6 col-sm-offset-3">

          <img class="login-logo-image" src="/assets/connecthub_logo.png">
          
        <% if (message.length) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label class="login-email">Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label class="login-password">Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-border btn-round color-1 material-design" style="background: orange;">Login</button>
        </form>

        <hr>
        <div style="color: #EF6C00">
            Or login with any of the following services:<br />
            <a style="margin-left:0px;margin-right:15px" href="/auth/facebook"><img style="margin-top:25px" src="/assets/fb-logo.png" /></a>
            <a style="margin-right:0px" href="/auth/google"><img style="width:29px; margin-top:25px" src="/assets/google-logo.png" /></a>
        </div>
        <hr>

        <p style="color: #EF6C00">Need to sign up for an account?</p>
        <a href="/signup"><button type="submit" class="btn btn-border btn-round color-1 material-design" style="background: orange">Signup</button></a>
    </div>
  </body>

<% include foot.ejs%>
